.Menu{
list-style-type: none;
margin: 0;
padding: 0px;
overflow: hidden;
background-color: black;
border-radius:5px
}
.menuitem{
float: left;
}
.menuvalue{
display: inline-block;
color: white;
font-size:20px;
text-align: center;
padding: 10px 20px;
text-decoration: none;
border: 2px;
background-color:blue;
border-radius: 5px;
}
.menuvalue:hover{
background-color: green;
color: red;
}